
@{
    ViewBag.Title = "Devices List";
    Layout = "~/Areas/ManagementPortal/Views/Shared/_LayoutPortal.cshtml";
}

<h2>
    Under construction ...<br />
    It will be available in the next version very soon
</h2>

