
@{
    ViewBag.Title = "Home";
    Layout = "~/Areas/ManagementPortal/Views/Shared/_LayoutPortal.cshtml";
}

<h2 class="text-primary text-italic">Welcome back tony merlo</h2>
<h6>This page is under construction ...</h6>
<h6>
    Please select the desired page from the available menus
</h6>

